{% extends 'public.base.html.twig' %}
{% block title %} Konferanslarım {% endblock %}

{% block body %}

    <div class="container-xl">
        <!-- Page title -->

        <div class="row">
            <div class="col-3">
                {% include '_common/sidebar.menu.html.twig' %}
            </div>
            <div class="col-9">
                <div class="page-header">
                    <div class="row">
                        <div class="col-auto">
                            <h2 class="page-title">
                                Konferanslarım
                            </h2>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('conference_new') }}" class="btn btn-secondary btn-sm">Konferans Oluştur</a>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body border-bottom py-3">
                        <div class="d-flex">

                            <div class="ml-auto text-muted">
                                Search:
                                <div class="ml-2 d-inline-block">
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                            <tr>
                                <th>Konferans Başlığı</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>

                                    <td>{{ item.title }}</td>
                                    <td>{{ item.startDate|date('Y-m-d H:i') }}</td>
                                    <td>{{ item.endDate|date('Y-m-d H:i') }}</td>

                                    <td class="text-right">
                      <span class="dropdown ml-1">
                        <button class="btn btn-secondary btn-sm dropdown-toggle align-text-top" data-boundary="viewport" data-toggle="dropdown">Actions</button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="{{ path('conference_edit', {'id': item.id}) }}">
                            Düzenle
                          </a>
                          <a class="dropdown-item" href="#" onclick="deleteBtn('{{ path('conference_delete', {'id': item.id}) }}', '{{ csrf_token('delete' ~ item.id) }}')">
                            Sil
                          </a>
                        </div>
                      </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex align-items-center">

                        <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>{{ pagination.getTotalItemCount }}</span> kayıttan</p>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var deleteBtn = function(path, token) {
            swal({
                text: 'Silmek istediğize emin misiniz?',
                buttons: {
                    text: " Sil ! ",
                    cancel: "Kapat",
                },
            })
                .then((p) => {
                    if (!p) throw null;
                    var formData = new FormData();
                    formData.append('_method', 'DELETE');
                    formData.append('_token', token);
                    return fetch(path, {
                        method: 'POST',
                        body: formData,
                    });
                })
                .then(results => {
                    swal("Başarılı", "Kayıt başarı ile silindi");
                    location.reload();
                })
                .catch(err => {
                    if (err) {
                        swal("Bir hata meydana geldi", "error");
                    } else {
                        swal.stopLoading();
                        swal.close();
                    }
                });
        };
    </script>
{% endblock %}
