<!DOCTYPE html>

<title>ConferenceInstitution</title>

{% block body %}
    <h1>ConferenceInstitution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conference_institution.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ conference_institution.title }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ conference_institution.logo }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ conference_institution.domain }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conference_institution_index') }}">back to list</a>

    <a href="{{ path('conference_institution_edit', {'id': conference_institution.id}) }}">edit</a>

    {{ include('conference_institution/_delete_form.html.twig') }}
{% endblock %}
